:root {
  --main-background: #303F9F;
  --link-color: rgba(46,63,179, 0.6);
  --main-font-color: #ffffff;
  --screen-width: 1200px;
  --min-screen-width: 960px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
